* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: white;
    
}

.container{
    margin-left: 150px;
    margin-right: 150px;
    background-color: aquamarine;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    margin-top: 0px;
    float: left;
    width:25%;
}

button {
    color: white;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    margin: 1rem;
    text-decoration: none;
    font-weight: bolder;
    padding: 1rem;
    width: 90%;
    height: 250px;
    border: 5px solid white;
    background-color: #065b7a;
    border-radius: 5%;
    margin-left: auto;
}

button:hover{
    background-color: lightskyblue;

}

.topnav {
    background-color:lightblue;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 5%;
    top: 0;
}

.topnav a{
    float: right;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5%;
    font-size: 20px;
    margin-top: 5px;
    background-color: #065b7a;
    margin-right: 5px;
    margin-bottom: 2px;
}

.footer {
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    margin-bottom: auto;
    width: 100%;
    z-index: -2;
    flex-shrink: 0;
    height: 94px;
}

.home_image{
    background-image: url("../img/cover_bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 565px;
    background-repeat: no-repeat;
    margin-top: auto;
    width: 100%;
}

h2 {
    width: 100%;
    font-size: 26px;
    background-color: #065b7a;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

/*--------arrange home----------*/

.column {
    float: left;
    padding: 10px;
    min-height: 600px;
    height: auto;
    /*box-shadow: 4px 0px grey;*/
    padding-top: 10px;
    /*border-style: solid;*/
    border-color: #065b7a;
    width: 100%;
}

.left{
    width: 20%;
}
  
.middle {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 78%;
    border-style: solid;
}
  
.middle h2 {
    width: 100%;
    font-size: 26px;
    background-color: #065b7a;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}


/*-------arrange side nav----------*/
#tree_view {
    margin: 0;
    padding: 0;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.tree_list {
    text-align: left;
    margin-bottom: 1%;
    margin-top: 0%;
    border: 2px solid white;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    color: white;
    font-size: 20px;
    /*font-weight: bold;*/
    padding-left: 5%;
    background-color: #065b7a;
    width: 100%;
    height: 55px;
    padding: 3px;
}
  
.tree_list.active {
    color: #fff;
    background-color: #1177d1;
    border-color: #1177d1;
}
  
.tree_list:hover {
    background-color: #1177d1;
    /*font-weight: bold;*/
    /*opacity: 0.7;*/
}
  
.tree_list a{
    color: white;
}
  
  /* Create the caret/arrow with a unicode, and style it */
.tree_list::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 10px;
    color: white;
}
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.tree_list-down::before {
    transform: rotate(270deg);
    color: white;
}

.tree_nest {
    display: none;
    font-size: 18px;
    /*padding-left: 10%;*/
}
  
.tree_nest button {
    text-align: left;
    margin-bottom: 0%;
    margin-top: 0%;
    border: 2px solid #065b7a;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    color: white;
    font-size: 18px;
    padding-left: 8%;
    background-color: white;
    width: 95%;
    height: 55px;
    padding: 3px;
}
  
.tree_nest a{
    color: darkslateblue;
    text-decoration: none;
    font-size: 20px;
}
  
.tree_nest a:hover{
    /*font-weight: bold;*/
    color: #065b7a;
}