* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: white;
    
}

.container{
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: aquamarine;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    margin-top: 0px;
    float: left;
    width:25%;
}

button {
    color: white;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    margin: 1rem;
    text-decoration: none;
    font-weight: bolder;
    padding: 1rem;
    width: 90%;
    height: 250px;
    border: 5px solid white;
    background-color: #065b7a;
    border-radius: 10%;
}

button:hover{
    background-color: lightskyblue;

}

.topnav {
    background-color:lightblue;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 10%;
    top: 0;
}

.topnav a{
    float: right;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5%;
    font-size: 20px;
    margin: 2px;
    background-color: #065b7a;
    margin-right: 10px;
}

.footer {
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    margin-bottom: auto;
    width: 100%;
    z-index: -2;
    flex-shrink: 0;
    height: 94px;
}
